.Route {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 8px;
    padding: 4px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    transition: 0.3s;
}

.Route:hover {
    background-color: #3498db;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

.Description {
    font-size: 14px;
    font-weight: bolder;
}

.ShowScheduleButton {
    width: 32px;
    height: 32px;
}

.ShowInfoButton {
    width: 32px;
    height: 32px;
}

.ShowOnMapButton {
    width: 32px;
    height: 32px;
}

.ShowVehiclesOnMapButton {
    width: 32px;
    height: 32px;
}

.Buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    justify-self: center;
}