.Route {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.Description {
    font-size: 14px;
    margin-bottom: 8px;
}

.ShowScheduleButton {
    width: 32px;
    height: 32px;
}

.ShowInfoButton {
    width: 32px;
    height: 32px;
}

.ShowOnMapButton {
    width: 32px;
    height: 32px;
}

.ShowVehiclesOnMapButton {
    width: 32px;
    height: 32px;
}

.Buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    justify-self: center;
}