.ArrowUp {
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/angle-arrow-up.png');
    background-size: 100%;
}

.ArrowDown {
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/angle-arrow-down.png');
    background-size: 100%;
}