.IconButton {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    border: none;
    outline: none;
    padding: 8px;
    overflow: hidden;
    border-radius: 12px;
    transition: 0.3s;
}

.IconButton svg {
    fill: #fff;
}

.IconButton:hover {
    background-color: #3477db;
    cursor: pointer;
}