.Main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "map";
    grid-area: main;
}

.WithSidebar {
    grid-template-columns: 25% 1fr;
    grid-template-areas: "sidebar map";
}