* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

.link {
  color: #3498db;
  transition: 0.2s;
  text-decoration: none;
}

.link:hover {
  color: #3477db;
}

.close-button {
  width: 24px;
  height: 24px;
}

.close-button svg {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.close-button:hover svg {
  fill: red;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 #555;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 32px;
  max-width: 75%;
  z-index: 1000;
}

.modal .close-button {
  margin-left: auto;
}

.modal .close-button-wrapper {
  display: flex;

}

.schedule-wrapper {
  padding-bottom: 16px;
  margin: 16px 0;
  overflow-x: scroll;
}

.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  border: 1px solid #ccc;
  padding: 8px 16px;
  text-align: center;
}

.vehicle-schedule {
}

.header {

}